body{
    font-family: 'Poppins', sans-serif;  
    background-image: linear-gradient(rgba(219, 59, 80, 0.226),rgba(121, 26, 211, 0.274));
}
.section-1 {
    display: flex;
}
.section1-div-1{
    width: 50%;
    padding: 70px;
}

.section1-div2{
    border-left: 4px solid;
    padding-left: 10px;
    border-color: rgb(248, 3, 3);
}
.section1-div2 h1{
    font-size: 35px;     
}
.all-span{
    color: rgba(245, 14, 122, 0.918);
}
.link-a{
    text-decoration: none;
    color: white;
    background-image: linear-gradient(rgb(117, 90, 84),red);
    padding:10px 50px;
    border-radius: 5px;
}
.section1-div-1 h4{
    margin-top: 40px;
}
.section1-div-1 img{
    width: 75%;
}
/* second-step */

.section2-div-1{
    display: flex;
   margin: 0px 90px;
}
.section2-h1{
    font-size: 40px;
    text-align: center;
}
.section2-div-2{
    width: 30%;
    padding: 20px;
    margin: 0px 12px;
    border-radius: 20px;
    border-left:5px solid rgb(111, 0, 255);
    
}
.section2-div-2 img{
width: 80px;
margin-left: 25px;

}
.section2-div-2-1{
    background-image: linear-gradient(rgba(255, 0, 0, 0.767), rgba(17, 16, 14, 0.384));
    box-shadow: 15px 20px 20px rgba(255, 0, 0, 0.705);
}
.section2-div-2-2{
    background-image: linear-gradient(rgba(29, 22, 22, 0.541), rgba(245, 166, 7, 0.74));
    box-shadow: 15px 20px 20px rgba(255, 145, 0, 0.705);
}
.section2-div-2-3{
    background-image: linear-gradient(rgba(250, 245, 245, 0.671), rgba(255, 9, 173, 0.384));
    box-shadow: 15px 20px 20px rgba(252, 160, 160, 0.945);
}
  /* step --3 */
  .section3{
    display: flex;
    margin-top: 140px;
    margin-left: 40px;
    background-image: url(photo/illustrators/dream-bg.pn);
    background-repeat: no-repeat;
    background-size: 88px;
      
  }
  .section3 img{
    width: 80%;
    margin-left: 90px;
    border-radius: 10px;
    background-position: right;
  }
  .section3-div-1{
      width: 70%;
  }
  /* step --4 */
  .section4{
      display: flex;
      margin: 60px;
      margin-top: 100px;
  }
  .section4-div-1{
    width: 80%;
    padding: 30px;
}
  .section4-div-1 img{
      width: 60%;
     
  }
  /* step--5 */
  .section5{
      padding-bottom: 10px;
border-top: 3px solid red;
border-bottom: 3px solid red;
background-image: linear-gradient(rgba(211, 68, 68, 0.207),rgba(0, 0, 0, 0.404));
  }
 
 .section5-div-2{
     display: flex;
     margin-top: 100px;
     background-image: url(photo/shapes/shape-2.png);
     background-repeat: no-repeat;
 }
 .section5-div-2-1{
     width: 50%;
     margin-left: 40px;
    
 }
 .section5-div-2-1 img{
margin-left: 100px;
     width:70%;
 }
 .section5-div-2-1 h5{
     font-size: 20px;
 }
 .section5-div-2-1 h1{
font-size: 50px;
 }
 .section5-div-2-1 h3{
 font-size: 25px;
 color: rgba(16, 56, 235, 0.398);
 }
 .section5-div-2-1 span{
     color: rgb(255, 44, 7);
 }
 #hire-me{
    text-decoration: none;
    color: white;
    background-image: linear-gradient(rgb(128, 209, 253),rgb(250, 29, 29));
    padding:10px 50px;
    border-radius: 5px;
 }
#contact-me{
    margin-left: 300px;
    height: 50px;
}
 /* FORM */

 .section5-div-2 form{
    margin-left: 280px;
    border: 5px solid rgb(0, 255, 157);
    border-top-right-radius: 20px;
    padding: 5px;
    
}
.form-div{
    margin: 5px;
    font-size: 18px;
}
.form-input{
    font-size: 25px;
    background-color: rgba(165, 42, 42, 0.686);
    border: 3px solid rgba(0, 174, 255, 0.781);
    border-radius: 7px;
}
#send{
    background-color: rgb(26, 10, 26);
    padding:2px 20px;
    color: white;
    font-size: 20px;
    margin-left: 230px;
    border-radius: 5px;
    text-decoration: none;
    border: 2px solid rgb(254, 255, 254);
    box-shadow: 10px 5px 10px red;

}
footer{
    display: flex;
    margin-top: 0px;
    background-color: rgba(26, 10, 26, 0.966);
    
}
.footer-div{
    margin-left: 200px;
    font-size: 16px;
}
.footer-div ul li a{
color: rgba(55, 0, 255, 0.953);
margin: 5px;
}
/* ##### */

 .last-div{
     text-align: center;
     background-color: black;
    
     color: white;
    
 }
 .last-div h1{
     font-family:Georgia, 'Times New Roman', Times, serif;
 }
 #last-div-span{
     color: red;
 }